.Portfolio
  display: flex
  justify-content: center
  flex-direction: column
  margin-bottom: 100px
  &__image
    width: auto
    height: auto
    object-fit: contain
    max-height: 500px
    // object-fit: cover
    // height: 100%

  &__title
    text-align: center
    font-size: 30px
    margin-bottom: 20px
  &__categories
    width: 600px
    margin: 0 auto 40px auto
    display: flex
    justify-content: space-between

  &__category
    display: inline-flex
    font-weight: 600
    font-size: 22px

  .thumbs
    display: flex
    justify-content: center
    flex-wrap: wrap
    transform: none !important
  .thumbs-wrapper 
    margin: 0 auto !important
    .control-arrow
      display: none
  .thumb
    .Portfolio__image
      height: 80px
      object-fit: cover
  .slide
    height: auto
    cursor: pointer

.cat-active
  color: green
  background-color: white
  // font-weight: 600
